body{
            background-image: url(https://images2.alphacoders.com/705/705837.png);
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
             background-size: cover;
            margin: 0;
            height: 100%;
        }
        
        #pagecontainer{
            position: fixed;
            width: 100%;
            height: 100%;
        }
        
        #sidebar{
            float: left;
            margin: 1%;
            height: 98%;
            width: 28%;
        }
        
        #profilediv{
            width: 100%;
            height: 200px;
            background-color: white;

            padding: 15px;
            border-radius: 5%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        #content{
            float: left;
            background-color: rgba(255,255,255,0.25);
            height: 100%;
            width: 70%;
            overflow: auto;
        }
        
        #taskdiv{
            position: relative;
            width: 420px;
            height:420px;
            
            padding: 15px;
            border-radius: 2%;
            margin: 10px;
            

            background-image: url("asdasd.png");
            background-repeat: no-repeat;
        }
        
        #taskdivcontainer{
            width: 300px;
            height: 300px;
            margin : 35px;
            padding: 0px;
            
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        #taskcontainercomplete{
            width: 270px;
            min-height: 50px;
            border-radius: 2%;
            background-color: rgba(85,255,0,0.3);
            margin: 0px;
            margin-top: 10px;
            font-size: 20px;
        }
        #taskcontainerincomplete{
            width: 270px;
            min-height: 50px;
            border-radius: 2%;
            background-color: rgba(0,0,0,0.05);
            margin : 0px;
            margin-top: 10px;
            font-size: 20px;
        }
        #taskcontainercomplete:hover{
            background-color: rgba(85,255,0,0.6);
            cursor: pointer;
        }
        #taskcontainerincomplete:hover{
            background-color: rgba(0,0,0,0.1);
            cursor: pointer;
        }
        #taskname{
            float: left;
            width: 220px;
            height: 100%;
            margin: 0;
            padding: 10px;
        }
        #reward{
            float: left;
            width: 50px;
            height: 100%;
            margin: 0;
            padding: 10px;
            background-color: rgba(0,0,0,0.1);
        }
        
        #avatar{
            width: 100px;
            height: 100px;
        }